body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body > div{
    padding: 0 15%;

}

/* TOP SECTION STARTS HERE */

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}


.headleft, .headright {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.headright ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.headright a, .sub, .rightimage p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.topcontent{
    display: flex;
    flex-flow: row wrap;
    margin: 5rem 0 5rem 0;
    gap: 2rem;
}

.lefttext, .rightimage{
    flex: 1;
    padding: 0;
}

 .awesome {
    font-weight: 900; 
    font-size: 48px;
    color: #f9faf8;
 }

.rightimage {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: #3882F6;
    border: 2px solid #3882F6;
    color: #f9faf8;
    font-size: 1rem;
    font-weight: bolder;
}

/* INFORMATION SECTION */

.info {
    background-color: white;
}

.biginform {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

  .content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;
 }
  
  .slots {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 150px;
}

  .picbox {
    border: 5px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

/* QUOTE SECTION */

.quote {
    background-color: #E5E7EB;
}

.quotebox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 5rem 5rem;
}

.quotebox p {
    font-style: italic;
    font-weight: 300; 
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0;
}

#endquote{
    align-self: flex-end;
    font-size: 26px;
    font-weight: bold;
    padding-right: 5rem;
}

/* action bar section */

.CTA {
    background-color: white;
}

.CTAcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #3882F6;
    background-color: #3882F6;
    border-radius: 0.5rem;
    margin: 5rem 5rem;
    padding: 2rem 1rem;
}

.CTAtexts p {
    font-size: 14px;
    color: #E5E7EB;
    margin: 0;
}

#CTAtitle {
    font-size: 18px;
    font-weight: bold;
}

.CTAbutton {
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid #f9faf8;
    background: #3882F6;
    color: #f9faf8;
    font-size: 1rem;
    font-weight: bolder;   
}

/* footer section */

.foot {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

